<div *ngIf="pizza" class="row justify-content-center my-5">
    <div class="col-lg-3">
      <h2>{{ pizza.name }}</h2>
      <div>
        <img class="img-fluid" [src]="pizza.picture" [alt]="pizza.name">
        <label>Nom:</label>
        <input class="form-control" [(ngModel)]="pizza.name">
        <label>Prix:</label> {{ pizza.price }} &euro; <br>
        <label>Prix à payer:</label> {{ pizza.price*total }} &euro;
        <button class="btn btn-primary" (click)="edit(pizza)">Modifier la pizza</button>
        <app-counter value="1" (increase)="OnIncrement($event)" (decrease)="OnDecrement($event)"></app-counter>
      </div>
    </div>
  </div>
